In [1]:
# MongoDB is a non-relational document database that provides support for JSON-like storage. The MongoDB database
#   has a flexible data model that enables you to store unstructured data, and it provides full indexing support, 
#   and replication with rich and intuitive APIs.
# # The collection of unstructured data is called non-relational database.

# when your data is document-centric and doesn't fit well into the schema of a relational database, we use mongoDB.

In [2]:
# Features of MongoDB:-
# 1.Indexing appropriately for better query executions
# 2. Replication for better data availability and stability
# 3.shardingâ€”the process of splitting larger datasets across multiple distributed collections
# 4.Load balancing, ad-hoc queries(short-lived command) for optimized, real-time analytics

In [3]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://arshshashwat:177Lord108@cluster0.t5hg4zd.mongodb.net/?retryWrites=true&w=majority")
database=client["DataBase_1"]    #creating a database
col1=database["collection_1"]   # creating a collection
mydata=[{"name":"sachin","matches":463,"runs":18426},{"name":"kohli","matches":274,"runs":12898},{"name":"dhoni","matches":350,"runs":10773},{"name":"shashwat","matches":296,"runs":14563}]
col1.insert_many(mydata)
for i in col1.find():
    print(i)

{'_id': ObjectId('642ea7ed4a41c25afdb3fda6'), 'name': 'sachin', 'matches': 463, 'runs': 18426}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda7'), 'name': 'kohli', 'matches': 274, 'runs': 12898}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda8'), 'name': 'dhoni', 'matches': 350, 'runs': 10773}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda9'), 'name': 'shashwat', 'matches': 296, 'runs': 14563}

In [4]:
col1.find_one()

{'_id': ObjectId('642ea7ed4a41c25afdb3fda6'),
 'name': 'sachin',
 'matches': 463,
 'runs': 18426}

In [5]:
for i in col1.find({"runs" :{"$gt" : 12500}}):
    print(i)

{'_id': ObjectId('642ea7ed4a41c25afdb3fda6'), 'name': 'sachin', 'matches': 463, 'runs': 18426}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda7'), 'name': 'kohli', 'matches': 274, 'runs': 12898}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda9'), 'name': 'shashwat', 'matches': 296, 'runs': 14563}

In [6]:
for i in col1.aggregate([{"$sort":{"runs":-1}}]):
    print(i)

{'_id': ObjectId('642ea7ed4a41c25afdb3fda6'), 'name': 'sachin', 'matches': 463, 'runs': 18426}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda9'), 'name': 'shashwat', 'matches': 296, 'runs': 14563}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda7'), 'name': 'kohli', 'matches': 274, 'runs': 12898}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda8'), 'name': 'dhoni', 'matches': 350, 'runs': 10773}

In [7]:
col1.delete_one({"runs":{"$lt":13000}})

In [8]:
for i in col1.find():
    print(i)

{'_id': ObjectId('642ea7ed4a41c25afdb3fda6'), 'name': 'sachin', 'matches': 463, 'runs': 18426}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda8'), 'name': 'dhoni', 'matches': 350, 'runs': 10773}
{'_id': ObjectId('642ea7ed4a41c25afdb3fda9'), 'name': 'shashwat', 'matches': 296, 'runs': 14563}

In [9]:
col1.delete_many({"runs":{"$lt":15000}})

In [10]:
for i in col1.find():
    print(i)

{'_id': ObjectId('642ea7ed4a41c25afdb3fda6'), 'name': 'sachin', 'matches': 463, 'runs': 18426}

In [11]:
col1.drop()